<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/Css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/Css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="/Css/style.css" />
    <script type="text/javascript" src="/Js/jquery.js"></script>
    <script type="text/javascript" src="/Js/bootstrap.js"></script>
    <script type="text/javascript" src="/Js/ckform.js"></script>
    <script type="text/javascript" src="/Js/common.js"></script>

</head>

<script>

	$(function () {
		$("#oPass").blur(function () {
			$("#con1").html("")
			var p1 = $("#uPass").val();
			var p2 = $("#oPass").val();
			if (p1!=p2){
				$("#con1").html("原密码错误")
			}

		})
		$("#check").blur(function () {
			$("#con2").html("")
			var p1 = $("#nPass").val();
			var p2 = $("#check").val();
			if (p1!=p2){
				$("#con2").html("两次密码不一致")
			}

		})


	})

</script>

<body>
<form class="form-inline definewidth m20" action="/user/updatePass" method="post">

	<input type="hidden" name="uId" th:value="${user.uId}">
	<input type="hidden" id="uPass" th:value="${user.uPassword}">
   <table>
		<tr>
			<td align="right">原密码:</td><td><input type="password" id="oPass" name="oPass"/><span id="con1"></span></td>
		</tr>
		<tr>
			<td align="right">新密码:</td><td><input type="password" id="nPass" name="nPass"/></td>
		</tr>
		<tr>
			<td align="right">确认密码:</td><td><input type="password" id="check"/><span id="con2"></span></td>
		</tr>
		<tr>
			<td colspan="2" align="center"><br/>
				<input type="submit" value="保存" class="btn btn-primary"/>
			</td>
		</tr>
   </table>
</form>
</body>
</html>