<!DOCTYPE html>
<html>
<head>
    <title>添加医生--中软高科-2015</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/Css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/Css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="/Css/style.css" />
    <script type="text/javascript" src="/Js/jquery.js"></script>
    <script type="text/javascript" src="/Js/jquery.sorted.js"></script>
    <script type="text/javascript" src="/Js/bootstrap.js"></script>
    <script type="text/javascript" src="/Js/ckform.js"></script>
    <script type="text/javascript" src="/Js/common.js"></script>
    <script type="text/javascript" src="/Js/ckeditor/ckeditor.js"></script>
 

    <style type="text/css">
        body {
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }


    </style>
    <script type="text/javascript">
    $(function () {       
		$('#backid').click(function(){
				window.location.href="index.html";
		 });
    });
    </script>
</head>
<body>
<form action="/doctor/insert" method="post" class="definewidth m20">
<table class="table table-bordered table-hover definewidth m10">
    <tr>
        <td width="10%" class="tableleft">姓名</td>
        <td><input type="text" name="dName"/></td>
    </tr>

    <tr>
        <td width="10%" class="tableleft">身份证号</td>
        <td><input type="text" name="dIdcar" value="" /></td>
    </tr>
    <tr>
        <td width="10%" class="tableleft">手机</td>
        <td><input type="text" name="dPhone" value=""/></td>
    </tr>
    <tr>
        <td width="10%" class="tableleft">座机</td>
        <td><input type="text" name="dTelphone" value=""/></td>
    </tr>
    <tr>
        <td width="10%" class="tableleft">性别</td>
        <td>
            <input type="radio" name="dSex" value="1" checked/>男&nbsp;&nbsp;&nbsp;<input type="radio" name="dSex" value="0"/>女
        </td>
    </tr>
    <tr>
        <td width="10%" class="tableleft">出生年月</td>
        <td><input type="text" name="dBirthday" value=""/></td>
    </tr>
    <tr>
        <td width="10%" class="tableleft">年龄</td>
        <td><input type="text" name="dAge" value=""/></td>
    </tr>
    <tr>
        <td width="10%" class="tableleft">电子邮箱</td>
        <td><input type="text" name="dEmail" value=""/></td>
    </tr>
    <tr>
        <td width="10%" class="tableleft">所属科室</td>
        <td><select name="dKeshi"><option>急诊科</option><option>骨科</option><option>血液科</option></select></td>
    </tr>
    <tr>
        <td width="10%" class="tableleft">学历</td>
        <td><select name="dXueli"><option>专科</option><option>本科</option><option>博士</option><option>博士后</option></select></td>
    </tr>
    <tr>
        <td width="10%" class="tableleft">备注</td>
        <td><textarea name="dDesc"></textarea></td>
    </tr>
    <tr>
        <td width="10%" class="tableleft">注册时间</td>
        <td><input type="text" name="dIntime" value=""/></td></td>
    </tr>
    <tr>
        <td width="10%" class="tableleft">状态</td>
        <td><input type="text" name="dState" value=""/></td>
    </tr>
    <tr>
        <td colspan="2">
				<button type="submit" class="btn btn-primary">保存</button> &nbsp;&nbsp;<a href="/doctor/index" class="btn btn-success" name="backid" id="backid">返回列表</a>
		</td>
    </tr>
</table>
</form>
</body>
</html>